@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500;800&display=swap');
@font-face {
    font-family: "VCR-font";
    src: url("fonts/VCR_OSD_MONO.ttf");
    font-display: swap;
}
/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Azeret Mono', monospace; */
    /* font-family: "VCR-font", Arial, sans-serif; */
    font-family: 'VCR-font', 'Azeret Mono', Arial, sans-serif;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}
/* RESET CSS */
.text-shadow {
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 0 rgb(0, 0, 0), 0px -1px 0 rgb(0, 0, 0),
        1px 0px 0 rgb(0, 0, 0), -1px 0px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0),
        1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0),
        -1px -1px 0 rgb(0, 0, 0), 0px 2px 0 rgb(0, 0, 0),
        0px -2px 0 rgb(0, 0, 0), 2px 0px 0 rgb(0, 0, 0), -2px 0px 0 rgb(0, 0, 0),
        2px 2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0),
        -2px -2px 0 rgb(0, 0, 0), 0px 3px 0 rgb(0, 0, 0),
        0px -3px 0 rgb(0, 0, 0), 3px 0px 0 rgb(0, 0, 0), -3px 0px 0 rgb(0, 0, 0),
        3px 3px 0 rgb(0, 0, 0), 3px -3px 0 rgb(0, 0, 0), -3px 3px 0 rgb(0, 0, 0),
        -3px -3px 0 rgb(0, 0, 0);
    -webkit-text-shadow: 0px 1px 0 rgb(0, 0, 0), 0px -1px 0 rgb(0, 0, 0),
        1px 0px 0 rgb(0, 0, 0), -1px 0px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0),
        1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0),
        -1px -1px 0 rgb(0, 0, 0), 0px 2px 0 rgb(0, 0, 0),
        0px -2px 0 rgb(0, 0, 0), 2px 0px 0 rgb(0, 0, 0), -2px 0px 0 rgb(0, 0, 0),
        2px 2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0),
        -2px -2px 0 rgb(0, 0, 0), 0px 3px 0 rgb(0, 0, 0),
        0px -3px 0 rgb(0, 0, 0), 3px 0px 0 rgb(0, 0, 0), -3px 0px 0 rgb(0, 0, 0),
        3px 3px 0 rgb(0, 0, 0), 3px -3px 0 rgb(0, 0, 0), -3px 3px 0 rgb(0, 0, 0),
        -3px -3px 0 rgb(0, 0, 0);
    -moz-text-shadow: 0px 1px 0 rgb(0, 0, 0), 0px -1px 0 rgb(0, 0, 0),
        1px 0px 0 rgb(0, 0, 0), -1px 0px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0),
        1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0),
        -1px -1px 0 rgb(0, 0, 0), 0px 2px 0 rgb(0, 0, 0),
        0px -2px 0 rgb(0, 0, 0), 2px 0px 0 rgb(0, 0, 0), -2px 0px 0 rgb(0, 0, 0),
        2px 2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0),
        -2px -2px 0 rgb(0, 0, 0), 0px 3px 0 rgb(0, 0, 0),
        0px -3px 0 rgb(0, 0, 0), 3px 0px 0 rgb(0, 0, 0), -3px 0px 0 rgb(0, 0, 0),
        3px 3px 0 rgb(0, 0, 0), 3px -3px 0 rgb(0, 0, 0), -3px 3px 0 rgb(0, 0, 0),
        -3px -3px 0 rgb(0, 0, 0);

    font-size: 40px;
} 

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding: 16px;
    width: 100%;
}
.logo {
    /* font-family: "VCR-font", Arial, sans-serif; */
    margin-right: auto;
}
.logo-dot {
    margin-left: auto;
    height: 40px;
    width: 40px;
}
.box-content{
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}
#video-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footerCopyright {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 40px 0 15px;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    position: fixed;
    bottom: 0;

  }
  .footerSocialLink {
    text-decoration: none;
    color: var(--color-main-font-dark);
    font-weight: bold;
    letter-spacing: 1px;
    text-transform:lowercase;
    border: 1px solid transparent;
    border-bottom: 1px solid black;
    font-size: 1rem;
    padding: 2px;
  }
  .footerSocialLink:hover {
    border: 1px solid black;
  }